.form--lage--container {
  -fx-background-radius: 50px;
  -fx-hgap: 20px;
  -fx-wgap: 20px;
  -fx-padding: 40px;
  -fx-border-radius: 8px;
  -fx-border-width: 1px;
  -fx-border-color: $primary-color;

  .form--lage--textfield {
    -fx-background-radius: 8px;
    -fx-background-color: none;
    -fx-border-radius: 8px;
    -fx-border-color: $grey-color;
    -fx-padding: 10px 16px 10px 16px;
  }

  .form--lage--submit {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-color: $primary-color;
    -fx-alignment: center;
    -fx-text-fill: $light-color;
    -fx-padding:16px;
  }
  .form--lage--link {
    -fx-background-radius: 8px;
    -fx-background-color: none;
    -fx-border-radius: 0;
    -fx-border-style: none;
    -fx-text-fill: $primary-light;
  }
}

